.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff2c7f;
}
.buy{
      background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
      color: white;
      border: none;
      border-radius: 8px;
      padding: 9px 25px;
      cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cat1{
background-color: #008000;
}
.cat2{
background-color: #800080;
}
.cat3{
    background-color: #ffa500;
}
.cetegories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px;
}
.btn{
background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
}
#subscribe{
    height: 300px;
}